<header>
    <nav>
        <div class="logo">
            <button routerLink="..">
                <img src="./assets/images/logos/logo_after1.png" alt="png">
            </button>
        </div>
        <ul class="navbar">
            <button routerLink="..">
                <fa-icon [icon]="faHouse"></fa-icon>
                Inicio
            </button>
            <button routerLink="/sobre-nosotros">
                <fa-icon [icon]="faPeople"></fa-icon>
                Sobre nosotros
            </button>
            <button routerLink="/nuestros-servicios">
                <fa-icon [icon]="faHandshake"></fa-icon>
                Nuestros servicios
            </button>
        </ul>
    </nav>
</header>