<app-header></app-header>

<div class="section-container">
    <section class="about-section">
        <h1 class="section-title">¿Quiénes somos?</h1>
        <div class="logo-container">
            <img src="./assets/images/logos/logo_after1.png" alt="Logo">
        </div>
        <div class="description-container">
            <p class="description-text">
                After School Victoria, forma parte de la Comuna de Alto Hospicio y nos complace ofrecer
                nuestros servicios en educación y cuidado infantil de calidad para empresas y familias que trabajan.
            </p>
        </div>
        <h3 class="section-subtitle">
            Contamos con 2 After School disponibles
        </h3>
        <div class="description-container">
            <p class="description-text">
                Nustro primer After School es para los pequeños que tienen entre 0 y 2 años de edad
            </p>
            <div class="slider-container">
                <swiper-container appSwiperDirective [config]="config" class="container">
                    <swiper-slide class="single-item">
                        <img src="./assets/images/patio_auditorio1.jpg" alt="Patio principal">
                    </swiper-slide>
                    <swiper-slide class="single-item">
                        <img src="./assets/images/mudador2.jpg" alt="Patio principal">
                    </swiper-slide>
    
                    <swiper-slide class="single-item">
                        <img src="./assets/images/sala_de_juegos1.jpg" alt="Sala niños">
                    </swiper-slide>
                </swiper-container>
            </div>
        </div>
        <div class="description-container">
            <p class="description-text">
                Nustro segundo After School es para los pequeños que tienen entre 3 y 6 años de edad
            </p>
            <div class="slider-container">
                <swiper-container appSwiperDirective [config]="config" class="container">
                    <swiper-slide class="single-item">
                        <img src="./assets/images/patio_principal.jpeg" alt="Patio principal">
                    </swiper-slide>
                    <swiper-slide class="single-item">
                        <img src="./assets/images/patio_principal2.jpeg" alt="Patio principal">
                    </swiper-slide>
    
                    <swiper-slide class="single-item">
                        <img src="./assets/images/sala_niños.jpeg" alt="Sala niños">
                    </swiper-slide>
                </swiper-container>
            </div>
        </div>
        <h3 class="section-subtitle">Nuestros objetivos</h3>
        <div class="description-container">
            <p class="description-text">
                En nuestro programa los niños van descubriendo sus habilidades e intereses a través del juego y los
                adultos guían con actividades y reflexiones para ir promoviendo el aprendizaje. Las actividades fomentan el
                aprendizaje de 5 ámbitos principales: emocional-social, representación y comunicación, movimiento,
                pensamiento lógico, y por último entorno social y natural; generando bases sólidas para relacionarse con su
                entorno e integrarse a la etapa escolar.
            </p>
            <p class="description-text">
                Fomentamos la integración de la familia como elemento fundamental para el desarrollo integral de los
                niños, que en conjunto nos permita formar niños autónomos, responsables, sociables, creativos, curiosos, y
                aprendices permanentes
            </p>
        </div>
    </section>
</div>


<app-footer></app-footer>