<footer>
    <div class="contact-list">
        <h3>Puedes encontrarnos en:</h3>
        <sub>Calle San Donato #3232</sub>
        <div id="elmapa">
        </div>
    </div>
    <div class="rrss-list">
        <h3>Nuestras redes sociales son:</h3>

        <a href="https://www.google.cl" target="_blank">
            <fa-icon [icon]="faFacebook"></fa-icon>
            <p>
                Nuestro Facebook
            </p>
        </a>
        <a href="https://www.google.cl" target="_blank">
            <fa-icon [icon]="faTwitter"></fa-icon>
            <p>
                Nuestro Twitter
            </p>
        </a>        
        <a href="https://www.google.cl" target="_blank">
            <fa-icon [icon]="faInstagram"></fa-icon>
            <p>
                Nuestro instagram
            </p>
        </a>
        <a href="https://www.google.cl" target="_blank">
            <fa-icon [icon]="faYoutube"></fa-icon>
            <p>
                Nuestro canal de Youtube
            </p>
        </a>
    </div>
</footer>