<footer>
    <div class="contact-list">
        <h3>Puedes encontrarnos en:</h3>
        <sub>Calle San Donato #3232</sub>
        <div id="elmapa">
        </div>
    </div>
    <div class="rrss-list">
        <h3>Puedes contactarnos a través de:</h3>

        <a href="tel:+56991926435">
            <fa-icon [icon]="faPhone"></fa-icon>
            <p>57(2)730323 - 991926435</p>
        </a>
        <a href="mailto:escueladelenguajevictoria@gmail.com">
            <fa-icon [icon]="faAt"></fa-icon>
            <p>escueladelenguajevictoria@gmail.com</p>
        </a>
        <a href="https://web.facebook.com/profile.php?id=100087134074303" target="_blank">
            <fa-icon [icon]="faFacebook"></fa-icon>
            <p>
                Nuestro Facebook
            </p>
        </a>
        <!-- <a href="https://www.google.cl" target="_blank">
            <fa-icon [icon]="faTwitter"></fa-icon>
            <p>
                Nuestro Twitter
            </p>
        </a>         -->
        <a href="https://www.instagram.com/afterschoolvictoria/" target="_blank">
            <fa-icon [icon]="faInstagram"></fa-icon>
            <p>
                Nuestro instagram
            </p>
        </a>
        <a href="https://www.youtube.com/@escueladelenguajevictoria6648" target="_blank">
            <fa-icon [icon]="faYoutube"></fa-icon>
            <p>
                Nuestro canal de Youtube
            </p>
        </a>
    </div>
</footer>